.active-button {
  color: orange;
}
.active-tab {
  border-bottom: 3px solid orange;
}
.tab {
  font-size: 10px;
  margin-right: 10px;
}

.b1 {
  border: none;
  font-size: 20px;
  background-color: transparent;
  padding: 5px;
}
