.li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 5px;
  align-items: center;
}
.main1 {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.p3 {
  color: red;
}
.p2 {
  color: orange;
}
.img {
  width: 150px;
  height: 150px;
}
.margin {
  margin-bottom: 1px;
  margin-top: 1px;
}
.h1 {
  font-size: 15px;
}
.con {
  display: flex;
  color: white;
  background-color: green;
  border-radius: 20px;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.p1 {
  color: blue;
}
.red {
  color: red;
}
.green {
  color: green;
}
.b2{
  background-color: green;
  border: none;
  color: white;
}