.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
  width: 100%;
}

.ul1 {
  display: flex;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  padding-right: 10px;
}

.con-in {
  display: flex;
  align-items: center;
}

.pa {
  margin-left: 5px;
}
